{% extends 'base.html.twig' %}

{% block title %}
    {% if edit|default %}
        Editar Tarea
    {% else %}
        Crear Tarea
    {% endif %}
{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>    {% if edit|default %}
            Editar Tarea
        {% else %}
            Crear Tarea
            {% endif %}✅
        </h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}